html {
    font-family: 'Sen', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: 'Sen', sans-serif;
    background-color: #e6e3dc;
}

header {
    /* background: #271F30; */
    background: #271F30;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 69;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

summary {
    background: #D0FCB3;
    left: 0;
    right: 0;
    display: absolute;
    font-size: 1rem;
}

summary:hover {
    cursor: default;
}

footer {
    background: #9BC59D;
    text-align: center;
    margin-bottom: -10%;
    padding: 2% 0 0 0;
}

footer div {
    margin: 0 auto;
    width: auto;
}

input[type="radio"]+label {
    background: #6C5A49;
    border: none;
}

input[type="radio"]:checked+label {
    background: #ad9279;
    color: #fcf1e7;
}

input[type="text"] {
    width: 40%;
    border: none;
    outline: none;
}

button.btn.custom-btn {
    padding: 8px 9px;
    margin: -.3rem 3px -.3% -.9%;
    float: right;
}

nav {
    float: right;
}

nav ul {
    margin-top: 10px;
    padding: 10px 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 10px 0 0 50px;
    transition: all .2s ease-in-out;
}

nav a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
}

nav a:hover {
    background: #9596BA;
    color: #000;
    text-decoration: none;
}

select {
    border-radius: 0;
}

.nav-links {
    border-radius: 10px;
}

.container {
    width: 90%;
    margin: -10px auto;
}

.logo {
    float: left;
    width: 10%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 15px 0 0 0;
}

.search {
    margin: -5px 0 0 4px;
}

.search-box {
    margin-bottom: -3px;
}

.search--box {
    width: 70%;
    margin: auto;
    padding: .5% 0;
}

.main-search {
    margin: 30px 0 0 10px;
    position: relative;
}

.dropdown-btn {
    height: auto;
    /* border-radius: 0; */
}

.btn-link,
.btn-link:hover {
    text-decoration: none;
    color: #555;
}

.dropdown {
    padding: 1.1% 0 1.5% 0;
    clear: both;
    border-right: 1px solid #c6c7d4;
}

.dropdown:hover {
    color: #777;
    border-radius: 3px 0 0 3px;
    text-decoration: none;
}

.dropdown-toggle::after {
    color: #666;
}

.picker {
    font-family: Sen, sans-serif;
    border: none;
    outline: none;
    padding: none;
    background: none;
    caret-color: transparent;
}

input[type="text"].picker {
    width: 15%;
}
input[type="text"].datepicker {
    width: 20%;
}

.custom-select-m:hover,
.dropdown:hover {
    background: #f0f0f0;
}

.time-of-day {
    margin-left: 15%;
    margin-bottom: -10px;
}

.time-of-day input {
    visibility: hidden;
    margin-left: -10px;
}

.btn-primary {
    outline: none;
}

.btn-primary:focus {
    outline: none;
}

.icon {
    width: 10px;
}

.top-content {
    margin-bottom: 50px;
}

.carousel-control-prev {
    left: 0;
    margin-left: 6%;
}

.carousel-control-next {
    right: 0;
    margin-right: 6%;
}

.roomname {
    margin-top: 3px;
    margin-bottom: -3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.carousel-item-outer {
    background: rgb(247, 247, 247);
    padding: 10px 10px 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.carousel-item input {
    /* width: auto;
    height: auto; */
    border-radius: 10px;
    position: relative;
    /* z-index: -1; */
    pointer-events: auto;
}

.carousel-item:hover {
    cursor: pointer;
}

.custom-card {
    padding: 1%
}

.about {
    padding: 2% 15% 5% 15%;
    background: #c3c4ce;
}

.about-team {
    padding: 2% 15% 5% 15%;
}

.contact-us {
    padding: 2% 15% 5% 2%;
}

.search-result {
    margin: 0 auto;
    width: 68%
}

.search-result .card {
    border-radius: 10%;
}

.search-result-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 2rem;
    padding: 20px;
    margin-bottom: 3%;
}

.search-result-text {
    display: block;
    float: left;
}

.search-result-button {
    float: right;
}

.img-div {
    padding: 1%;
}

.search-result-card .row .col {
    flex-grow: 0;
}

img.search-result-img {
    width: 13em;
    border-radius: 1rem;
}

button.button_slide {
    width: 6em;
    background: none;
    outline: none;
    border: 2px solid #777;
    color: white;
    padding: 6px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #9596BA;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

button.button_slide:hover {
    box-shadow: inset 400px 0 0 0 #9596BA;
}

button.button_slide:hover span {
    display: none;
}

.slide_right:hover:before {
    content: "Logout";
    color: #fff;
    -webkit-transform: translate(-150%, 0);
    -moz-transform: translate(-150%, 0);
    -ms-transform: translate(-150%, 0);
    -o-transform: translate(-150%, 0);
    transform: translate(-150%, 0);
}

nav a.logout:hover {
    background: none;
}

form.logoutForm {
    margin: -1.5% 0;
}

.modal-content {
    padding: 4%;
    background: white;
}

.close {
    margin-top: 10px;
    float: right;
}

.reserv-summary {
    border: none;
    padding: 0;
    margin-left: -1%;
    margin-top: -.8%;
}

.reserv-summary:hover {
    background: none;
}

.content {
    margin: 6% 0 1% 0;
}

.searchForm {
    margin-top: 8%;
}

.container-header {
    margin: 0 1% 0 1%
}

.container-header>* {
    float: left;
    display: inline;
    font-size: 50px !important;
    padding: 20px 10px;
}

a.back-icon {
    text-decoration: none;
    color: #271F30;
}

a.back-icon:hover {
    color: #555;
}

.room-title h6 {
    font-size: 50px;
    padding: 0 10px 0 80px;
    /* margin: -4px 0 0 30px; */
}

.subcontent {
    margin: 0 0 0 2.4%;
}

.room-prc {
    font-size: 5em;
    color: #5D9F5C;
}

.room-desc {
    text-align: justify;
    text-justify: inter-word;
    margin: 2% 0 0 2.4%;
    padding-right: 45px;
}

a#book-now.btn {
    padding: 1rem 2rem;
}

#book-now {
    margin: 40px 40px 0 0;
    padding: 1rem;
}


/*----------------------------------------*/


/*------different screen sizes----------- */


/*----------------------------------------*/


/*----------------------------------------*/


/*----------------------------------------*/


/*----------------------------------------*/


/*----------------------------------------*/


/*----------------------------------------*/


/*----------------------------------------*/


/*----------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* MD */

@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* LG */

@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media only screen and (max-width: 800px) {
    nav {
        float: right;
        margin: -10px;
    }
    nav ul {
        list-style: none;
    }
    nav li {
        display: inline-block;
        margin: 0px 0 0 20px;
        transition: all .2s ease-in-out;
    }
    nav a {
        text-decoration: none;
        color: #FFF;
        font-size: 10px;
    }
    .logo {
        float: left;
        width: 10%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 15px;
    }
    .search--box {
        width: 73%;
        padding-bottom: 1%;
    }
    .time-of-day {
        margin-left: 15%;
        margin-bottom: -10px;
    }
    input[type="text"] {
        width: 87%;
        height: 90%;
    }
    .picker.room-price {
        padding-right: 9.9px;
    }
}