{% load static %}
<html>
    <head>
        <title>ASA Unlimited | Search Results</title>
        <link rel="icon" href="{% static 'assets/images/ASA Unlimited-logos/favicon2.png' %}" type="image/png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'assets/styles.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

<body>
    <header id="mydiv">
        <div class="container" id="container">
            <!-- <p class="logo"><a href="#" style="color: #fff; line-height:50px;"><b style="font-size:60px">ASA</b><br>Unlimited</a> -->
            <a href="../home">
                <img class="logo" style="cursor: pointer;" src="{% static 'assets/images/ASA Unlimited-logos/ASA Unlimited-logos_white.png' %}" alt="ASA Unlimited">
            </a>
            <nav>
                <form class="logoutForm" method="POST">
                    {% csrf_token %}
                    <ul>
                        <li><a class="nav-links" href="#">Home</a></li>
                        <li><a class="nav-links" href="home#about">About</a></li>
                        <li><a class="nav-links" href="home#about-team">Team</a></li>
                        <li><a class="nav-links" href="home#contact-us">Contact Us</a></li>
                        <li>
                            <div class="btn-group">
                                <button class="logout nav-links btn btn-link" style="font-size: 1.3em; color: white; text-decoration: none;" type="button">{{ logged.fname }}</button>
                                <button type="button" style="color: white;" class="btn btn-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="../home/reservations">Reservations</a>
                                    <a class="dropdown-item" href="../home/accountsettings">Account Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" style="color: red;"><i class="fa fa-right-from-bracket"></i> <button type="submit" name="btnLogout" style="background: transparent; outline: none; border:none; color: red; cursor: pointer;">Logout</button></a>
                                </div>
                            </div>

                        </li>
                </form>
                </ul>
            </nav>
        </div>
    </header>
    <form class="searchForm" action="" method="POST">
        {% csrf_token %}
        <div type="button" class="main-search">
            <div class="time-of-day">
                <input type="radio" class="btn-check" name="options" id="morning" value="Morning" autocomplete="off" checked required>
                <label class="btn btn-secondary" for="morning">Morning</label>

                <input type="radio" class="btn-check" name="options" id="afternoon" value="Afternoon" autocomplete="off">
                <label class="btn btn-secondary" for="afternoon">Afternoon</label>

                <input type="radio" class="btn-check" name="options" id="evening" value="Evening" autocomplete="off">
                <label class="btn btn-secondary" for="evening">Evening</label>
            </div>            
            <div class="card search--box">
                <div class="search-box">
                    <span class="dropdown">
                        <label for="room-type">&nbsp;Room Type:</label>
                        <select class="picker custom-select-s" aria-labelledby="room-type" name="rmtype">
                            <option value="Standard">Standard</option>
                            <option value="Deluxe">Deluxe</option>
                            <option value="Premium">Premium</option>
                        </select>
                    </span>
                    <span class="dropdown">
                        <label for="date-sched">&nbsp;Date: </label>
                        <input name="sched" id="datetimepicker" placeholder="--/--/----" class="picker" type="text" required onkeypress="return false" autocomplete='off'>
                        <i class="fa fa-calendar" style="cursor: pointer; margin-left: -30px; pointer-events: none;"></i>                        
                    </span>
                    <span class="dropdown">
                        <label for="room-price">&nbsp;Price:</label>
                        <select class="picker room-price custom-select-m" name="prc" aria-labelledby="room-price">
                            <option value="3000">>3000</option>
                            <option value="5000">>5000</option>
                            <option value="100000">>10000</option>
                        </select>
                    </span>
                    <span class="search">
                        <input type="text" class="rmname" name="rmname" autocomplete="off" placeholder="Type a room name">
                        <button class="btn btn-primary custom-btn" name="btnSearch">Search</button>
                    </span>
                </div>
            </div>
        </div>
    </form>

    <div class="search-result">
        <h1 style="margin-top: 20px"><b style="font-size: 50px;">Search Result</b></h1>
    </div>
    {% for temp in temps %}
    <div id="search-result" class="search-result">
        
        <div class="search-result-card">
            
            <div class="row">
                <div class="col">
                    <div class="img-div">
                        <img class="search-result-img" src="{% static temp.rmimg %}" onerror="this.onerror=null;this.src='{% static 'assets/images/conferenceroom_images/default.jpg' %}';">
                    </div>
                </div>
                <div class="col-lg">
                    <div class="search-result-text">
                        <h2 style="font-size: 3vw;">{{temp.rmnum}} | {{temp.rmname}}
                            <h1>
                                <h4 class="price" onclick="return addCommas(this.value)" style="color: #5D9F5C; font-size: 3em; margin-top: -15px;"><b>₱{{temp.prc}}</b></h4>
                                <br><br>
                                <h6><i class="fa fa-user"></i><b> {{temp.cap}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <form method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <input name="rmid" value="{{temp.rmid}}" hidden></input>
                                    <button class="btn btn-info" name="btnVisit">Visit</button>&nbsp;
                                </form>
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#newModal-{{temp.rmid}}" name="btnBookNow">Book Now</button></h4>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- MODAL Book Now-->
    <div class="modal fade" id="newModal-{{temp.rmid}}" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true" style='background-color: rgba(0,0,0,0.5); '>
        <div style="margin-top: 10%;" class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div>
                    <h3 class="modal-title" style="color:#212529;">Reservation Summary <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: #212529;">
                        <span aria-hidden="true">&times;</span></h3>
                        <hr>
                    
                </div>
                
            </button>
                    <form id="ReservConfirmForm" method="post">
                        {% csrf_token %}
                        <input type="text" name="rmid" value="{{temp.rmid}}" hidden>
                        <input type="text" name="uid" value="{{logged.uid}}" hidden>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-4" id="startup-tab-1">
                                    <img class="search-result-img" style="margin-top: -15px;" src="{% static temp.rmimg %}">
                                </div>
                                <div class="col" id="startup-tab-1">
                                    <h1 style="margin-top: -15px;">{{temp.rmname}}</h1>
                                    <h4 class="price" style="color: #5D9F5C; font-size: 3em; margin-top: -15px;"><b>₱{{temp.prc}}</b></h4>
                                    <h6 style="margin-top: -2%;">Capacity: <i class="fa fa-user"></i><b> {{temp.cap}}</b><h6>
                                    <div class="dropdown reserv-summary">
                                        <label for="room-type">&nbsp;Timeslot:</label>
                                        <select name="tmslt" class="picker custom-select-m" aria-labelledby="room-type">
                                            <option selected>----</option>
                                            <option value="Morning">Morning</option>
                                            <option value="Afternoon">Afternoon</option>
                                            <option value="Evening">Evening</option>
                                        </select>
                                    </div>
                                    <div class="dropdown reserv-summary">
                                        <label for="date-sched">&nbsp;Date: </label>
                                        <input name="sched" id="datetimepicker2" placeholder="--/--/----" class="datepicker" type="text" width="10%" required onkeypress="return false" autocomplete='off'>
                                        <i class="fa fa-calendar" style="cursor: pointer; pointer-events: none;"></i>                        
                                    </div>
                                    <h6 style="margin-top: -2%;">Room Type: <b> {{temp.rmtype}}</b><h6>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="modal-footer">
                            <button type="submit" id="btnReserve" name="btnReserve" class="btn btn-primary" style="border-radius: 5px; border-width: 0px; padding: 10px 50px; margin-right: -3%;" required>Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <footer>
        <div>
            Follow us on our social media for daily updates!<br>
            <a class="icon" id="facebook" href="#"><img src="https://img.icons8.com/ios-filled/50/000000/facebook-new.png" alt=""></a>
            <a class="icon" id="instagram" href="#"><img src="https://img.icons8.com/ios-filled/50/000000/instagram-new--v1.png" /></a>
            <a class="icon" id="twitter" href="#"><img src="https://img.icons8.com/ios-filled/50/000000/twitter-circled--v1.png'" /></a>
            <a class="icon" id="youtube" href="#"><img src="https://img.icons8.com/ios-filled/50/000000/youtube-squared.png" /></a>
            <a class="icon" id="whatsapp" href="#"><img src="https://img.icons8.com/ios-filled/50/000000/whatsapp--v1.png" /></a>
            <a class="icon" id="linkedin" href="#"><img src="https://img.icons8.com/ios-filled/50/000000/linkedin-circled--v1.png" /></a>
            <a class="icon" id="tiktok" href="#"><img src="https://img.icons8.com/ios-filled/50/000000/tiktok--v1.png" /></a>
        </div>
        <br>
        <div>
            ASA Unlimited All Rights Reserved 2022.
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.14/jquery.datetimepicker.full.min.js" integrity="sha512-KL5fDK2RZmIUFucgSH+KCPs93qUv1+Vflr731R9uh+hb82P9YcZM1nk4TWgOznWd+HuI2GtNaG5rLQwb+8xDNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        jQuery('#datetimepicker').datetimepicker(
            {
                timepicker: false,
                format: 'm-d-Y',
                minDate:'0',
            }
        );

        jQuery('#datetimepicker2').datetimepicker(
            {
                timepicker: false,
                format: 'm-d-Y',
                minDate:'0',
            }
        );


    </script>
    <script>
        $('#carousel-example').on('slide.bs.carousel', function(e) {
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 5;
            var totalItems = $('.carousel-item').length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $('.carousel-item').eq(i).appendTo('.carousel-inner');
                    } else {
                        $('.carousel-item').eq(0).appendTo('.carousel-inner');
                    }
                }
            }
        });

        $(function(){
            $('.price').html = addCommas('.price'.value);
        });

        function hideSearchResult() {
            var x = document.getElementById("search-result");
            var y = document.getElementById("content-all");
            y.style.display = "block";
            x.style.display = "none";
        }

        function unhideSearchResult() {
            var x = document.getElementById("search-result");
            var y = document.getElementById("content-all");
            x.style.display = "block";
            y.style.display = "none";
        }

        function addCommas(nStr)
        {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
    </script>
</body>

</html>